# Declare files that will always have LF line endings on checkout.
module/*.sh text eol=lf
module/*.prop text eol=lf
module/*.md text eol=lf
module/*.xml text eol=lf
module/META-INF/** text eol=lf

# Denote all files that are truly binary and should not be modified.
module/common/addon/**/tools/** binary
